* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(90deg,
            #CE2B37 25%,
            #adadad 50%,
            #009246 75%);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    background: #f8f0e3;
    padding: 30px;
    border-radius: 25px;
    overflow: hidden;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.tab {
    flex: 1;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    background: #ddd;

    transition: .3s;
}

.tab:hover {
    transform: translateY(-2px);
}

.tab.active {
    background: #009246;
    color: white;
}

.aba {
    display: none;
    animation: fade .4s ease;
}

.aba.ativa {
    display: block;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

h1 {
    text-align: center;
    color: #960018;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

.opcoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 25px;
}

.opcoes input,
.tamanhos input {
    display: none;
}

.opcoes label,
.tamanhos label {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .12);
}

.opcoes label:hover,
.tamanhos label:hover {
    background: #ff8478;
    transform: translateY(-3px);
}

.opcoes input:checked+label,
.tamanhos input:checked+label {
    background: #CE2B37;
    color: white;
}

.tamanhos {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.tamanhos label {
    flex: 1;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background: #009246;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transform: scale(1.02);
}

#listaPedidos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardPedido {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .12);

    animation: aparecer .4s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cardPedido h3 {
    margin-bottom: 10px;
    color: #333;
}

.cardPedido p {
    margin-bottom: 8px;
}

.status {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
}

.recebido {
    background: #3498db;
}

.preparando {
    background: #f39c12;
}

.caminho {
    background: #CE2B37;
}

.entregue {
    background: #009246;
}

.btnStatus {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
}

.btnStatus:disabled {
    background: #666;
    cursor: not-allowed;
}

.status {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 5px;
}

.recebido {
    background: #3498db;
    color: white;
}

.preparando {
    background: #f39c12;
    color: white;
}

.caminho {
    background: #9b59b6;
    color: white;
}

.entregue {
    background: #27ae60;
    color: white;
}